<style>
body {background-color:#22211F;}
</style>



<script src="/static/jquery-2.0.3.min.js"></script>
<script src="/static/highcharts.js"></script>
<script src="/static/exporting.js"></script>

<!-- <script src="http://code.highcharts.com/highcharts.js"></script> -->
<!-- <script src="http://code.highcharts.com/"></script> -->

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
$(function () {
    $.getJSON('/json', function(data) {
        $('#container').highcharts({
            chart: {
                type: 'area',
                zoomType: 'x',
                backgroundColor: '#22211F'
            },
            title: {
                text: 'Zużycie CPU'
            },
            subtitle: {
                text: 'Projekt Lachesis'
            },
            legend: {
                backgroundColor: '#22211F',
                borderColor: '#969794',
                itemStyle: {
                    color: '#FFFFFF',
                    fontWeight: 'bold'
                }
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: '%'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                area: {
                    stacking: 'percent',
                    lineColor: '#ffffff',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#ffffff'
                    }
                }
            },
            series: data
        });
    });
});
</script>

